<div class="video">
    <p>Video:
        <%=video.name %>
    </p>
    <br>
    <iframe width="300" height="180" src="https://www.youtube.com/embed/<%= video.link.slice(32,video.link.length)%>" frameborder="0">
    </iframe>
    <br>
    <form action="/video/detail-video/<%=video._id%>" method="POST">

        <label for="content">@
            <%=user.username%>:</label>
        <input id="content" type="text" name="content" placeholder="Add a public comment">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <%if(video.comments){%>
        <% video.comments.reverse().forEach((vid) => { %>
            <p>
                @
                <%= vid.authorId.username %>:
                    <%=vid.content%>
                        <form action="/video/delete-comment/<%=vid._id%>" method="POST">
                            <input hidden name=videoId value=<%=video._id%>>
                            <button type="submit" class="btn btn-danger">delete</button>
                        </form>
            </p>
            <hr>
            <%})%>
                <%}%>

</div>