<h1>View your profile</h1>
<div class="username">
  <b>Name: </b><%=user.username %>
</div>

<%= user %>

<div class="usermail">
  <b>Mail: </b><%= user.email %>
</div>
<br>
<b>User avatar: </b>
<br>
<img height='200' class="avatar" src="/<%=user.picture %>" alt="">

<br>
<b><%=user.picture%></b>
<button><a href="/user/detail/<%= user._id %>/edit">edit profile</a></button>