<h2>This is your Profile <%=user.username.toUpperCase()%></h2>
<div class="signup">
<button class="btn"><a href="/user/detail/<%= user._id %>/edit">Edit Profile</a></button>
<div class="username">
  <b>Name: </b>
  <%=user.username %>
</div>
<div class="usermail">
  <b>Mail: </b>
  <%= user.email %>
</div>
<br>
<b>User avatar: </b>
<br>
<img height='200' class="avatar" src="<%=user.picture.slice(10,user.picture.length) %>" alt="">

</div>

