
<form action="/user/detail/<%= user._id %>/edit" method="POST" enctype="multipart/form-data">
   
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="<%= user.email %>">
    <label for="username">Name</label>
    <input type="text" id="username" name="username" value="<%= user.username %>">
    <input type="file" name="picture"  value="<%=user.picture %>">
    <button type="submit">update</button>
    <br>
    <a href="/user/detail/<%= user._id %>">home</a>
  </form>
  
