<div class="display-vid">
  <div class="form-myvideos">
  <form action="/video/myvideos/<%=user._id %>" method="POST" id="form-container">
    <div class="form-group">
    <label for="link">Video link</label>
    <input id="link" type="text" name="link" placeholder="URL">
  </div>
    <br>
      <label for="name">Video name</label>
      <input id="name" type="text" name="name" placeholder="name">
      <br>
      <button class="btn btn-primary">Link your video</button>
    </form>
    <h2>My Videos</h2>
<ul>
  <% video.reverse().forEach((vid) => { %>
    <li class="video-list">
      <%= vid.name %>
        <br>
        <a href="/video/delete/<%=vid._id%>">Delete Video</a>
        <a href="/video/detail-video/<%=vid._id%>">Detail Video</a>
        <br>
        <br>
        <iframe width="300" height="180" src="https://www.youtube.com/embed/<%= vid.link.slice(32,vid.link.length)%>" frameborder="0">
        </iframe>
       
    </li>


    <%  }) %>
</ul>
</div>
<br>
</div>